<!DOCTYPE html>
<html lang="en">
  
  {% include "base/head_imports.html" %}

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form method="post" action="">
              {% csrf_token %}
              <h1>Formulario de Login</h1>
              <div>
                <input type="text" name="username" class="form-control" placeholder="Nome de Usuario"  required="" />
              </div>
              <div>
                <input type="password" name="password" class="form-control" placeholder="Senha" required="" />
              </div>
              <div>
                <button class="btn btn-default submit">Acessar</button>
                <a class="reset_pass" href="#">Redefinir senha?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Novo no site??
                  <a href="#signup" class="to_register"> Cadastre-se aqui </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1>Freela App!</h1>
                  <p>©2017 Jonas</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form>
              <h1>Create Account</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Email" required="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <a class="btn btn-default submit" href="index.html">Submit</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
