{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>FreelaApp | </title>

  <!-- Bootstrap -->
  <link href="{% static 'vendors/bower_components/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="{% static 'vendors/bower_components/gentelella/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- NProgress -->
  <link href="{% static 'vendors/bower_components/gentelella/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
  <!-- iCheck -->
  <link href="{% static 'vendors/bower_components/gentelella/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

  <!-- bootstrap-progressbar -->
  <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- JQVMap -->
  <link href="{% static 'vendors/bower_components/gentelella/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
  <!-- bootstrap-daterangepicker -->
  <link href="{% static 'vendors/bower_components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="{% static 'vendors/bower_components/gentelella/build/css/custom.min.css' %}" rel="stylesheet">
  
  <link href="{% static 'vendors/bower_components/gentelella/vendors/animate.css/animate.min.css' %}" rel="stylesheet">

</head>